.ft-webgraphic-s .chart-label,
.ft-webgraphic-m .chart-label,
.ft-webgraphic-m-default .chart-label,
.ft-webgraphic-l .chart-label {
  fill: #66605c;
}

.ft-socialgraphic .chart-label,
.ft-videographic .chart-label {
    fill: #ffffff;
    opacity: 0.7
}


.ft-socialgraphic .chart-label {
    font-size: 18px;
}

.london-label {
    fill: #8E9095;
    font-size: 20px;
}

.yAxis .tick text{
    visibility: hidden;
}

.ft-socialgraphic .highlights {
    opacity: 0.7!important
}

.ft-socialgraphic .xAxis text {
    fill: #ffffff !important;
}

.legend {
    font-size:28px;
    font-weight: 600;
}
.majority-label {
    font-size: 18px;
    fill: #ffffff;
}

.partyBground {
    fill: #ffffff;
    opacity: 0.2;  
}
.totalBground {
    fill: #ffffff;
    opacity: 0.1;  
}

.ft-socialgraphic .date {
    font-size: 18px;
    fill: #8E9095;
    text-transform: lowercase;
}
.ft-webgraphic-s .date {
    font-size: 12px;
    fill: #66605c;
    text-transform: lowercase;
}
.ft-webgraphic-m .date {
    font-size: 14px;
    fill: #66605c;
    text-transform: lowercase;
}

.ft-webgraphic-s .statePolygons,
.ft-webgraphic-m .statePolygons {
    stroke: #fff1e5;
    stroke-width: 0.3px;
}

.ft-socialgraphic .statePolygons {
    stroke: #262a33;
    stroke-width: 0.6px;
}