.ft-webgraphic-s .chart-label,
.ft-webgraphic-m .chart-label,
.ft-webgraphic-m-default .chart-label,
.ft-webgraphic-l .chart-label {
  fill: #66605c;
}

.ft-socialgraphic .chart-label,
.ft-videographic .chart-label {
    fill: #ffffff;
    opacity: 0.7
}


.ft-socialgraphic .chart-label {
    font-size: 18px;
}

.london-label {
    fill: #8E9095;
    font-size: 20px;
}

.yAxis .tick text{
    visibility: hidden;
}

.ft-socialgraphic .highlights {
    opacity: 0.7!important
}

.majority-label {
    font-size: 18px;
    fill: #ffffff;
}

.partyBground {
    fill: #ffffff;
    opacity: 0.2;
    
}