.ft-webgraphic-s .months,
.ft-webgraphic-m .months,
.ft-webgraphic-m-default .months,
.ft-webgraphic-l .months,
.ft-printgraphic .months {
    stroke: #66605c;
    fill: none;
}

.ft-socialgraphic .months,
.ft-videographic .months {
    stroke: #ffffff;
    opacity: 0.5;
}

.ft-webgraphic-s .weekday-labels,
.ft-webgraphic-s .month-labels,
.ft-webgraphic-s .year-labels {
    font-family: metric;
    font-size: 12px;
    fill: #66605C;
}

.ft-webgraphic-m .weekday-labels,
.ft-webgraphic-m .month-labels,
.ft-webgraphic-m .year-labels {
    font-family: metric;
    font-size: 16px;
    fill: #66605C;
}

.ft-webgraphic-m-default .weekday-labels,
.ft-webgraphic-m-default .month-labels,
.ft-webgraphic-m-default .year-labels {
    font-family: metric;
    font-size: 16px;
    fill: #66605C;
}

.ft-webgraphic-l .weekday-labels,
.ft-webgraphic-l .month-labels,
.ft-webgraphic-l .year-labels {
    font-family: metric;
    font-size: 18px;
    fill: #66605C;
}

.ft-printgraphic .weekday-labels,
.ft-printgraphic .month-labels,
.ft-printgraphic .year-labels {
    font-family: metric;
    font-size: 9.6px;
    fill: #000000;
}

.ft-socialgraphic .weekday-labels,
.ft-socialgraphic .month-labels,
.ft-socialgraphic .year-labels {
    font-family: metric;
    font-size: 28px;
}

.ft-videographic .weekday-labels,
.ft-videographic .month-labels,
.ft-videographic .year-labels {
    font-family: metric;
    font-size: 48px;
}
