.ft-webgraphic-s .highlight-label,
.ft-webgraphic-m .highlight-label,
.ft-webgraphic-m-default .highlight-label,
.ft-webgraphic-l .highlight-label {
    fill: #66605C;
}

.ft-printgraphic .highlight-label {
    fill: #000000;
}

.ft-socialgraphic .highlight-label,
.ft-videographic .highlight-label {
    fill: #ffffff;
    fill-opacity: 0.5;
}

.ft-webgraphic-s .connector,
.ft-webgraphic-m .connector,
.ft-webgraphic-m-default .connector,
.ft-webgraphic-l .connector {
    stroke: #66605C;
    stroke-width: 1px;
}

.ft-printgraphic .connector {
    stroke: #000000;
    stroke-width: 0.6px;
}

.ft-socialgraphic .connector,
.ft-videographic .connector {
    stroke: #ffffff;
    stroke-opacity: 0.7;
    stroke-width: 4px;
}
