version: 2
jobs:
  build:
    working_directory: ~/visual-vocabulary
    # The primary container is an instance of the first list image listed. Your build commands run in this container.
    docker:
      - image: node:lts
    steps:
      - checkout
      - run:
          name: Update container to support Puppeteer
          command: |
            apt-get update && apt-get install -yq gconf-service libasound2 libatk1.0-0 libc6 libcairo2 libcups2 libdbus-1-3 \
            libexpat1 libfontconfig1 libgcc1 libgconf-2-4 libgdk-pixbuf2.0-0 libglib2.0-0 libgtk-3-0 libnspr4 \
            libpango-1.0-0 libpangocairo-1.0-0 libstdc++6 libx11-6 libx11-xcb1 libxcb1 libxcomposite1 \
            libxcursor1 libxdamage1 libxext6 libxfixes3 libxi6 libxrandr2 libxrender1 libxss1 libxtst6 \
            ca-certificates fonts-liberation libappindicator1 libnss3 lsb-release xdg-utils wget
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install npm deps
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - deploy:
          name: Deploy CSS to S3
          command: |
            if [[ `git diff-tree --no-commit-id --name-only -r main | grep styles.css` ]]
            then
                npm run deploy-css
            fi
      - run:
          name: Run regression tests
          command: npm test
