
.ft-webgraphic-s .dotHighlight circle,
.ft-webgraphic-m .dotHighlight circle,
.ft-webgraphic-m-default .dotHighlight circle,
.ft-webgraphic-l .dotHighlight circle{
	stroke-width: 1;
	stroke: #000000;
}

.ft-printgraphic .dotHighlight circle {
 	stroke-width: 0.6;
	stroke: #000000;
}

.ft-socialgraphic .dotHighlight circle{
 	stroke-width: 2;
	stroke: #FFFFFF;
}

.ft-videographic .dotHighlight circle {
 	stroke-width: 4;
	stroke: #FFFFFF;
}

