.ft-webgraphic-s .highlight-label,
.ft-webgraphic-m .highlight-label,
.ft-webgraphic-m-default .highlight-label,
.ft-webgraphic-l .highlight-label {
    fill: #ffffff;
}

.ft-printgraphic .highlight-label {
    fill: #000000;
}

.ft-socialgraphic .highlight-label,
.ft-videographic .highlight-label {
    fill: #ffffff;
    fill-opacity: 0.5;
}


.ft-webgraphic-s .minor-title,
.ft-webgraphic-m .minor-title,
.ft-webgraphic-m-default .minor-title,
.ft-webgraphic-l .minor-title {
    fill: #66605C;
    font-size: 16px;
}

.minor-chart-lines path {
  stroke: black;
  stroke-width: 2px;
}
