.ft-webgraphic-s .highlight-label,
.ft-webgraphic-m .highlight-label,
.ft-webgraphic-m-default .highlight-label,
.ft-webgraphic-l .highlight-label {
    fill: #66605C;
    font-size: 16px;
}

.ft-printgraphic .highlight-label {
    fill: #000000;
    font-size: 9.6px;

}
