.ft-webgraphic-s .highlight-label,
.ft-webgraphic-m .highlight-label,
.ft-webgraphic-m-default .highlight-label,
.ft-webgraphic-l .highlight-label {
    fill: #ffffff;
}

.ft-printgraphic .highlight-label {
    fill: #000000;
}

.ft-socialgraphic .highlight-label,
.ft-videographic .highlight-label {
    fill: #ffffff;
    fill-opacity: 0.5;
}
