
.ft-webgraphic-s .dotholder circle,
.ft-webgraphic-m .dotholder circle,
.ft-webgraphic-m-default .dotholder circle,
.ft-webgraphic-l .dotholder circle{
	stroke-width: 1;
	stroke: #000000;
}

.ft-printgraphic .dotholder circle {
 	stroke-width: 0.6;
	stroke: #000000;
}

.ft-socialgraphic .dotholder circle{
 	stroke-width: 2;
	stroke: #FFFFFF;
	stroke-opacity: 0.5;
}

.ft-videographic .dotholder circle {
 	stroke-width: 4;
	stroke: #FFFFFF;
	stroke-opacity: 0.5
}

.ft-webgraphic-s .rows-filled,
.ft-webgraphic-m .rows-filled,
.ft-webgraphic-m-default .rows-filled,
.ft-webgraphic-l .rows-filled,
.ft-printgraphic .rows-filled {
	fill: #FCE6D6;
}

.first-label {
	text-anchor: middle;
}

.ft-webgraphic-s .first-label {
	font-size: 14px;
	fill: #66605C;
}

.ft-webgraphic-m .first-label {
	font-size: 16px;
	fill: #66605C;
}

.ft-webgraphic-m-default .first-label {
	font-size: 20px;
	fill: #66605C;
}

.ft-webgraphic-l .first-label {
	font-size: 18px;
	fill: #66605C;
}

.ft-printgraphic .first-label {
	font-size: 9.6px;
    fill: #000000;
}

.ft-socialgraphic .first-label {
	opacity: 0.5;
    fill: #ffffff;
	font-size: 28px;
}

.ft-videographic .first-label {
	opacity: 0.5;
    fill: #ffffff;
	font-size: 48px;
}
