
.ft-webgraphic-s .dotholder circle,
.ft-webgraphic-m .dotholder circle,
.ft-webgraphic-m-default .dotholder circle,
.ft-webgraphic-l .dotholder circle{
	stroke-width: 1;
	stroke: #000000;
}

.ft-printgraphic .dotholder circle {
 	stroke-width: 0.6;
	stroke: #000000;
}

.ft-socialgraphic .dotholder circle{
 	stroke-width: 2;
	stroke: #FFFFFF;
	stroke-opacity: 0.5;
}

.ft-videographic .dotholder circle {
 	stroke-width: 4;
	stroke: #FFFFFF;
	stroke-opacity: 0.5
}

.rows-filled {
	fill: #FCE6D6;
}

.first-label {
	fill: #66605C;
	font-size: 20px;
	text-anchor: middle;
}
